## Lets Start Microsoft Movie Analysis

In [2]:
import pandas as pd

In [62]:
basics = pd.read_csv('zippedData/imdb.title.basics.csv.gz')

In [66]:
len(basics)

146144

In [69]:
rating = pd.read_csv('zippedData/imdb.title.ratings.csv.gz')

In [75]:
df = pd.merge(left=basics, right=rating, left_on='tconst', right_on='tconst')

In [76]:
df

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",7.2,43
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,6.9,4517
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5,119
...,...,...,...,...,...,...,...,...
73851,tt9913084,Diabolik sono io,Diabolik sono io,2019,75.0,Documentary,6.2,6
73852,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,98.0,"Drama,Family",8.7,136
73853,tt9914642,Albatross,Albatross,2017,NaN,Documentary,8.5,8
73854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,NaN,NaN,6.6,5
73855,tt9916160,Drømmeland,Drømmeland,2019,72.0,Documentary,6.5,11

In [83]:
df['original_title'].duplicated().sum()

0

In [81]:
df['original_title'].drop_duplicates(inplace=True)

In [84]:
len(df)

73856

In [86]:
df['runtime_minutes'].isna().sum()

7620

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73856 entries, 0 to 73855
Data columns (total 8 columns):
tconst             73856 non-null object
primary_title      73856 non-null object
original_title     73856 non-null object
start_year         73856 non-null int64
runtime_minutes    66236 non-null float64
genres             73052 non-null object
averagerating      73856 non-null float64
numvotes           73856 non-null int64
dtypes: float64(2), int64(2), object(4)
memory usage: 5.1+ MB

In [108]:
df.sort_values(by= ['numvotes', 'averagerating'], ascending=False).head(15)

,tconst,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
2387,tt1375666,Inception,2010,148.0,"Action,Adventure,Sci-Fi",8.8,1841066
2241,tt1345836,The Dark Knight Rises,2012,164.0,"Action,Thriller",8.4,1387769
280,tt0816692,Interstellar,2014,169.0,"Adventure,Drama,Sci-Fi",8.6,1299334
12072,tt1853728,Django Unchained,2012,165.0,"Drama,Western",8.4,1211405
325,tt0848228,The Avengers,2012,143.0,"Action,Adventure,Sci-Fi",8.1,1183655
507,tt0993846,The Wolf of Wall Street,2013,180.0,"Biography,Crime,Drama",8.2,1035358
1091,tt1130884,Shutter Island,2010,138.0,"Mystery,Thriller",8.1,1005960
15327,tt2015381,Guardians of the Galaxy,2014,121.0,"Action,Adventure,Comedy",8.1,948394
2831,tt1431045,Deadpool,2016,108.0,"Action,Adventure,Comedy",8.0,820847
2523,tt1392170,The Hunger Games,2012,142.0,"Action,Adventure,Sci-Fi",7.2,795227
25595,tt2488496,Star Wars: Episode VII - The Force Awakens,2015,136.0,"Action,Adventure,Fantasy",8.0,784780
2524,tt1392190,Mad Max: Fury Road,2015,120.0,"Action,Adventure,Sci-Fi",8.1,780910
20995,tt2267998,Gone Girl,2014,149.0,"Drama,Mystery,Thriller",8.1,761592
397,tt0903624,The Hobbit: An Unexpected Journey,2012,169.0,"Adventure,Family,Fantasy",7.9,719629
3053,tt1454468,Gravity,2013,91.0,"Drama,Sci-Fi,Thriller",7.7,710018

In [102]:
df.isna().sum()

tconst                0
original_title        0
start_year            0
runtime_minutes    7620
genres              804
averagerating         0
numvotes              0
dtype: int64

In [97]:
df.drop(['primary_title'], axis=1, inplace=True)

In [112]:
YR = df.loc[:,['start_year', 'averagerating']]

In [113]:
YR.groupby(['start_year']).mean()

            averagerating
start_year
2010             6.259585
2011             6.290134
2012             6.297057
2013             6.287259
2014             6.319806
2015             6.265894
2016             6.347300
2017             6.397624
2018             6.415599
2019             6.703578

In [115]:
YV = df.loc[:,['start_year', 'numvotes']]

In [116]:
YV.groupby(['start_year']).sum()

            numvotes
start_year
2010        30485759
2011        32741501
2012        32726315
2013        35638577
2014        34382294
2015        26167370
2016        26621703
2017        21901644
2018        16507889
2019         3070541

In [126]:
GV = df.loc[:,['genres','averagerating','numvotes']]

In [130]:
GV.groupby(['genres']).mean().sort_values(by=['numvotes'], ascending=False)

                            averagerating       numvotes
genres
Action,Adventure,Sci-Fi          5.655906  181285.417323
Adventure,Mystery,Sci-Fi         5.075000  135042.500000
Action,Fantasy,War               6.400000  131509.000000
Adventure,Drama,Sci-Fi           6.170000   99316.950000
Action,Adventure,Fantasy         5.371845   93775.563107
...                                   ...            ...
Action,Documentary,Horror        6.400000       5.000000
Crime,Western                    6.400000       5.000000
Comedy,Documentary,Fantasy       9.400000       5.000000
Family,War                       5.800000       5.000000
Action,Crime,Musical             4.400000       5.000000

[923 rows x 2 columns]

In [131]:
GV.groupby(['genres']).median().sort_values(by=['numvotes'], ascending=False)

                            averagerating  numvotes
genres
Action,Fantasy,War                   6.40  131509.0
Action,Crime,Sci-Fi                  6.10   43304.0
Documentary,Sport,Thriller           7.90   28979.0
Action,Crime,Sport                   5.80   26921.0
Animation,Biography,Crime            7.55   20011.0
...                                   ...       ...
Family,War                           5.80       5.0
History,Sport                        9.20       5.0
Comedy,Documentary,Fantasy           9.40       5.0
Horror,Musical,Romance               5.20       5.0
Crime,Western                        6.40       5.0

[923 rows x 2 columns]