In [1]:
import requests
import json
import tmdbsimple as tmdb
import pandas as pd
tmdb.API_KEY = '52decf811777c96cdfe3148253cda2cc'

In [124]:
tmdb.Movies(5).info()

{'adult': False,
 'backdrop_path': '/5J9lhMZHVQRfH8BV4hyehwptzKp.jpg',
 'belongs_to_collection': None,
 'budget': 4000000,
 'genres': [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name': 'Comedy'}],
 'homepage': '',
 'id': 5,
 'imdb_id': 'tt0113101',
 'original_language': 'en',
 'original_title': 'Four Rooms',
 'overview': "It's Ted the Bellhop's first night on the job...and the hotel's very unusual guests are about to place him in some outrageous predicaments. It seems that this evening's room service is serving up one unbelievable happening after another.",
 'popularity': 11.244,
 'poster_path': '/uZSmxBLIuZ8gpadjAWNdA5aQDAc.jpg',
 'production_companies': [{'id': 14,
   'logo_path': '/m6AHu84oZQxvq7n1rsvMNJIAsMu.png',
   'name': 'Miramax',
   'origin_country': 'US'},
  {'id': 59,
   'logo_path': '/yH7OMeSxhfP0AVM6iT0rsF3F4ZC.png',
   'name': 'A Band Apart',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '1995-12-09',
 'revenue': 4257354,
 'runtime': 98,
 'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'}],
 'status': 'Released',
 'tagline': "Twelve outrageous guests. Four scandalous requests. And one lone bellhop, in his first day on the job, who's in for the wildest New year's Eve of his life.",
 'title': 'Four Rooms',
 'video': False,
 'vote_average': 5.8,
 'vote_count': 1757}

In [7]:
search = tmdb.Search()
response = search.movie(query='The Bourne')

In [15]:
response = tmdb.Movies(5).info()
response['budget']
response['title']

'Four Rooms'

In [24]:
discover = tmdb.Discover()
response = discover.movie(year=2016)
response

{'page': 1,
 'total_results': 10000,
 'total_pages': 500,
 'results': [{'popularity': 330.578,
   'vote_count': 272,
   'video': False,
   'poster_path': '/6PQqC4SbY910VvyVad6mvsboILU.jpg',
   'id': 420634,
   'adult': False,
   'backdrop_path': '/fBNnj5bQ5YhzPUzxIW1UvLVZepP.jpg',
   'original_language': 'en',
   'original_title': 'Terrifier',
   'genre_ids': [27, 53],
   'title': 'Terrifier',
   'vote_average': 6.1,
   'overview': 'A maniacal clown named Art terrorizes three young women and everyone else who stands in his way on Halloween night.',
   'release_date': '2016-10-15'},
  {'popularity': 291.539,
   'vote_count': 725,
   'video': False,
   'poster_path': '/bAQ8O5Uw6FedtlCbJTutenzPVKd.jpg',
   'id': 317442,
   'adult': False,
   'backdrop_path': '/l8ubUlfzlB5R2j9cJ3CN7tj0gmd.jpg',
   'original_language': 'ja',
   'original_title': 'The Last: Naruto the Movie',
   'genre_ids': [28, 16, 10749],
   'title': 'The Last: Naruto the Movie',
   'vote_average': 7.9,
   'overview': 'Two years after the events of the Fourth Great Ninja War, the moon that Hagoromo Otsutsuki created long ago to seal away the Gedo Statue begins to descend towards the world, threatening to become a meteor that would destroy everything on impact. Amidst this crisis, a direct descendant of Kaguya Otsutsuki named Toneri Otsutsuki attempts to kidnap Hinata Hyuga but ends up abducting her younger sister Hanabi. Naruto and his allies now mount a rescue mission before finding themselves embroiled in a final battle to decide the fate of everything.',
   'release_date': '2014-12-06'},
  {'popularity': 275.223,
   'id': 372058,
   'video': False,
   'vote_count': 6491,
   'vote_average': 8.6,
   'title': 'Your Name.',
   'release_date': '2016-08-26',
   'original_language': 'ja',
   'original_title': '君の名は。',
   'genre_ids': [10749, 16, 18],
   'backdrop_path': '/mMtUybQ6hL24FXo0F3Z4j2KG7kZ.jpg',
   'adult': False,
   'overview': 'High schoolers Mitsuha and Taki are complete strangers living separate lives. But one night, they suddenly switch places. Mitsuha wakes up in Taki’s body, and he in hers. This bizarre occurrence continues to happen randomly, and the two must adjust their lives around each other.',
   'poster_path': '/q719jXXEzOoYaps6babgKnONONX.jpg'},
  {'popularity': 187.382,
   'vote_count': 971,
   'video': False,
   'poster_path': '/soq3AxjALdBfdPAm8H7yuMmNL5Y.jpg',
   'id': 303857,
   'adult': False,
   'backdrop_path': '/kIgfFzjjBNgx6Tr2LCw8Zkq921s.jpg',
   'original_language': 'ja',
   'original_title': 'ドラゴンボールZ 復活の「F」',
   'genre_ids': [28, 16, 878],
   'title': "Dragon Ball Z: Resurrection 'F'",
   'vote_average': 6.9,
   'overview': "One peaceful day on Earth, two remnants of Frieza's army named Sorbet and Tagoma arrive searching for the Dragon Balls with the aim of reviving Frieza. They succeed, and Frieza subsequently seeks revenge on the Saiyans.",
   'release_date': '2015-04-18'},
  {'popularity': 172.325,
   'vote_count': 27,
   'video': False,
   'poster_path': '/sRM1X5SgYJeVudEgmCOK2qyFoNT.jpg',
   'id': 248781,
   'adult': False,
   'backdrop_path': None,
   'original_language': 'en',
   'original_title': 'ABCs of Death 2 1/2',
   'genre_ids': [27],
   'title': 'ABCs of Death 2 1/2',
   'vote_average': 4.2,
   'overview': 'An anthology of 26 fan entries submitted for inclusion in ABCs of Death 2, each offering various takes on the letter "M"',
   'release_date': '2016-08-02'},
  {'popularity': 157.802,
   'vote_count': 30,
   'video': False,
   'poster_path': '/vtoJKxGC02uAUUbKnDsho3EYMPA.jpg',
   'id': 309013,
   'adult': False,
   'backdrop_path': '/jgHLsBJEcL8zPxaV5yUSV1b5eaF.jpg',
   'original_language': 'en',
   'original_title': 'Scream at the Devil',
   'genre_ids': [9648, 53],
   'title': 'Scream at the Devil',
   'vote_average': 5.4,
   'overview': 'A beautiful schizophrenic woman is pushed over the edge by her husbands elicit affairs and when her hallucinations become reality the Devil comes to take his due. Is Miriam insane or has the Devil come to collect on her promise?',
   'release_date': '2015-10-30'},
  {'popularity': 137.581,
   'vote_count': 159,
   'video': False,
   'poster_path': '/nFQkn1KE0Is3FUW0yPPgdVvCnlo.jpg',
   'id': 366170,
   'adult': False,
   'backdrop_path': '/sDnsobefVmEd7Eh8IoV79bvNcc7.jpg',
   'original_language': 'ja',
   'original_title': '遊☆戯☆王 THE DARK SIDE OF DIMENSIONS',
   'genre_ids': [12, 16],
   'title': 'Yu-Gi-Oh!: The Dark Side of Dimensions',
   'vote_average': 7.2,
   'overview': 'Yugi and Kaiba have a special duel that transcends dimensions.',
   'release_date': '2016-04-23'},
  {'popularity': 136.346,
   'id': 378064,
   'video': False,
   'vote_count': 1899,
   'vote_average': 8.3,
   'title': 'A Silent Voice',
   'release_date': '2016-09-17',
   'original_language': 'ja',
   'original_title': '聲の形',
   'genre_ids': [18, 16, 10749],
   'backdrop_path': '/q5HZvtyqG8Vz39Ee9uTQbLeEml.jpg',
   'adult': False,
   'overview': 'Shouya Ishida starts bullying the new girl in class, Shouko Nishimiya, because she is deaf. But as the teasing continues, the rest of the class starts to turn on Shouya for his lack of compassion. When they leave elementary school, Shouko and Shouya do not speak to each other again... until an older, wiser Shouya, tormented by his past behaviour, decides he must see Shouko once more. He wants to atone for his sins, but is it already too late...?',
   'poster_path': '/drlyoSKDOPnxzJFrRWGqzDsyJvR.jpg'},
  {'popularity': 133.204,
   'vote_count': 66,
   'video': False,
   'poster_path': '/jMyudM6LM9VfIsR8ZRghlSpAdfv.jpg',
   'id': 347548,
   'adult': False,
   'backdrop_path': '/suxhZsfihd0SJXrTIdSEPVlfpoj.jpg',
   'original_language': 'en',
   'original_title': 'Containment',
   'genre_ids': [27, 878, 53],
   'title': 'Containment',
   'vote_average': 5.2,
   'overview': 'Neighbors in a block wake one morning to find they have been sealed inside their apartments. Can they work together to find out why? Or will they destroy each other in their fight to escape?',
   'release_date': '2015-07-09'},
  {'popularity': 114.378,
   'vote_count': 8734,
   'video': False,
   'poster_path': '/vVJRemwt0WyqnwLMIAaa2FNZBME.jpg',
   'id': 324786,
   'adult': False,
   'backdrop_path': '/6O0lsCK90jZCyPvyYSt8Szzlnd6.jpg',
   'original_language': 'en',
   'original_title': 'Hacksaw Ridge',
   'genre_ids': [18, 36, 10752],
   'title': 'Hacksaw Ridge',
   'vote_average': 8.1,
   'overview': 'WWII American Army Medic Desmond T. Doss, who served during the Battle of Okinawa, refuses to kill people and becomes the first Conscientious Objector in American history to receive the Congressional Medal of Honor.',
   'release_date': '2016-10-07'},
  {'popularity': 110.192,
   'vote_count': 23704,
   'video': False,
   'poster_path': '/yGSxMiF0cYuAiyuve5DA6bnWEOI.jpg',
   'id': 293660,
   'adult': False,
   'backdrop_path': '/en971MEXui9diirXlogOrPKmsEn.jpg',
   'original_language': 'en',
   'original_title': 'Deadpool',
   'genre_ids': [28, 12, 35],
   'title': 'Deadpool',
   'vote_average': 7.6,
   'overview': 'Deadpool tells the origin story of former Special Forces operative turned mercenary Wade Wilson, who after being subjected to a rogue experiment that leaves him with accelerated healing powers, adopts the alter ego Deadpool. Armed with his new abilities and a dark, twisted sense of humor, Deadpool hunts down the man who nearly destroyed his life.',
   'release_date': '2016-02-09'},
  {'popularity': 108.947,
   'vote_count': 14836,
   'video': False,
   'poster_path': '/v0wMKEEGaNc9evdqGYfIvoWXh24.jpg',
   'id': 673,
   'adult': False,
   'backdrop_path': '/vbk5CfaAHOjQPSAcYm6AoRRz2Af.jpg',
   'original_language': 'en',
   'original_title': 'Harry Potter and the Prisoner of Azkaban',
   'genre_ids': [12, 14],
   'title': 'Harry Potter and the Prisoner of Azkaban',
   'vote_average': 8,
   'overview': 'Harry, Ron and Hermione return to Hogwarts for another magic-filled year. Harry comes face to face with danger yet again, this time in the form of escaped convict, Sirius Black—and turns to sympathetic Professor Lupin for help.',
   'release_date': '2004-05-31'},
  {'popularity': 107.74,
   'vote_count': 4097,
   'video': False,
   'poster_path': '/2oRRTPNtozgPhOa9CYZiVl4GRQ5.jpg',
   'id': 396535,
   'adult': False,
   'backdrop_path': '/wOqIr38ar92vQkz6LlHABhhMqlD.jpg',
   'original_language': 'ko',
   'original_title': '부산행',
   'genre_ids': [28, 27, 53],
   'title': 'Train to Busan',
   'vote_average': 7.7,
   'overview': 'Martial law is declared when a mysterious viral outbreak pushes Korea into a state of emergency. Those on an express train to Busan, a city that has successfully fended off the viral outbreak, must fight for their own survival…',
   'release_date': '2016-07-20'},
  {'popularity': 104.478,
   'vote_count': 219,
   'video': False,
   'poster_path': '/vDkct38sSFSWJIATlfJw0l3QOIR.jpg',
   'id': 20982,
   'adult': False,
   'backdrop_path': '/ynnbXzMDg7F4ShdvBoWhY0ax2c.jpg',
   'original_language': 'ja',
   'original_title': '劇場版 NARUTO -ナルト- 疾風伝',
   'genre_ids': [28, 12, 16, 14, 10751],
   'title': 'Naruto Shippuden the Movie',
   'vote_average': 7.1,
   'overview': 'Demons that once almost destroyed the world, are revived by someone. To prevent the world from being destroyed, the demon has to be sealed and the only one who can do it is the shrine maiden Shion from the country of demons, who has two powers; one is sealing demons and the other is predicting the deaths of humans. This time Naruto\'s mission is to guard Shion, but she predicts Naruto\'s death. The only way to escape it, is to get away from Shion, which would leave her unguarded, then the demon, whose only goal is to kill Shion will do so, thus meaning the end of the world. Naruto decides to challenge this "prediction of death."',
   'release_date': '2007-08-04'},
  {'popularity': 104.358,
   'vote_count': 13431,
   'video': False,
   'poster_path': '/Ag21otqbeynZPGjEbzyr3X5Us0j.jpg',
   'id': 767,
   'adult': False,
   'backdrop_path': '/kT8bDEAgEYBKhRJtqM97qTw6uRW.jpg',
   'original_language': 'en',
   'original_title': 'Harry Potter and the Half-Blood Prince',
   'genre_ids': [12, 14],
   'title': 'Harry Potter and the Half-Blood Prince',
   'vote_average': 7.7,
   'overview': "As Harry begins his sixth year at Hogwarts, he discovers an old book marked as 'Property of the Half-Blood Prince', and begins to learn more about Lord Voldemort's dark past.",
   'release_date': '2009-07-07'},
  {'popularity': 99.632,
   'id': 472516,
   'video': False,
   'vote_count': 88,
   'vote_average': 7.5,
   'title': 'The Moment You Fall in Love',
   'release_date': '2016-12-17',
   'original_language': 'ja',
   'original_title': '好きになるその瞬間を。～告白実行委員会～',
   'genre_ids': [18, 16, 10749, 35],
   'backdrop_path': '/lTbYegQ35QRWlWvDqYwS0okFiY4.jpg',
   'adult': False,
   'overview': "Following Natsuki Enomoto's confession rehearsals with Yuu Setoguchi, their younger siblings Kotarou and Hina struggle to confess their own love. Despite a disastrous first meeting in middle school with her upperclassman Koyuki Ayase, Hina’s heart is captured by his warm smile. Initially confused by these newfound feelings, Hina soon realizes that she has fallen in love for the very first time.  Chasing after her brother Yuu and her crush Koyuki, Hina also enrolls in Sakuragaoka High School; but the threads of love are far-reaching, and they entangle Hina and her friends. Boisterous but sensitive, Hina hopes to confess her feelings to the tender-hearted Koyuki. Meanwhile, Kotarou, oblivious to his own feelings for her, is determined to always keep Hina smiling.  This movie follows Hina, Kotarou, and Koyuki in high school. Their youthful love forges new relationships, but also threatens to break others.",
   'poster_path': '/b3NQEmgAYKTDuAXSE0f294lrE4Q.jpg'},
  {'popularity': 99.198,
   'vote_count': 5586,
   'video': False,
   'poster_path': '/lW0kUtXTOVlHTVhDO2VzNBACAHX.jpg',
   'id': 335797,
   'adult': False,
   'backdrop_path': '/z9ft5HYHzWcasR6SGcgeluxTznB.jpg',
   'original_language': 'en',
   'original_title': 'Sing',
   'genre_ids': [16, 35, 18, 10402, 10751],
   'title': 'Sing',
   'vote_average': 7,
   'overview': 'A koala named Buster recruits his best friend to help him drum up business for his theater by hosting a singing competition.',
   'release_date': '2016-11-23'},
  {'popularity': 96.966,
   'vote_count': 3789,
   'video': False,
   'poster_path': '/nlr2oxuYsHXt0wdtmzaOuVBoNC0.jpg',
   'id': 140300,
   'adult': False,
   'backdrop_path': '/p01KW78c6ifpak1ZJ8jlcXiQuea.jpg',
   'original_language': 'en',
   'original_title': 'Kung Fu Panda 3',
   'genre_ids': [28, 12, 16, 35, 10751],
   'title': 'Kung Fu Panda 3',
   'vote_average': 6.8,
   'overview': 'Continuing his "legendary adventures of awesomeness", Po must face two hugely epic, but different threats: one supernatural and the other a little closer to his home.',
   'release_date': '2016-01-23'},
  {'popularity': 95.52,
   'vote_count': 3671,
   'video': False,
   'poster_path': '/ubLbY97m8lYJ3Fykh7nfiwB5eth.jpg',
   'id': 316727,
   'adult': False,
   'backdrop_path': '/t7k9LzsjzXnFJkIqWFnPomHzCxz.jpg',
   'original_language': 'en',
   'original_title': 'The Purge: Election Year',
   'genre_ids': [28, 27, 53],
   'title': 'The Purge: Election Year',
   'vote_average': 6.4,
   'overview': 'Two years after choosing not to kill the man who killed his son, former police sergeant Leo Barnes has become head of security for Senator Charlene Roan, the front runner in the next Presidential election due to her vow to eliminate the Purge. On the night of what should be the final Purge, a betrayal from within the government forces Barnes and Roan out onto the street where they must fight to survive the night.',
   'release_date': '2016-06-29'},
  {'popularity': 94.326,
   'vote_count': 12618,
   'video': False,
   'poster_path': '/ode14q7WtDugFDp78fo9lCsmay9.jpg',
   'id': 198663,
   'adult': False,
   'backdrop_path': '/vHJlbhsXrZ5yrO2KqCbGSIU6fRX.jpg',
   'original_language': 'en',
   'original_title': 'The Maze Runner',
   'genre_ids': [28, 9648, 878, 53],
   'title': 'The Maze Runner',
   'vote_average': 7.1,
   'overview': "Set in a post-apocalyptic world, young Thomas is deposited in a community of boys after his memory is erased, soon learning they're all trapped in a maze that will require him to join forces with fellow “runners” for a shot at escape.",
   'release_date': '2014-09-10'}]}

In [26]:
len(response['results'])

20

In [43]:
comedy = discover.movie(with_genres=35)
comedy['results'][0:2]

[{'popularity': 1088.64,
  'vote_count': 81,
  'video': False,
  'poster_path': '/xqvX5A24dbIWaeYsMTxxKX5qOfz.jpg',
  'id': 660982,
  'adult': False,
  'backdrop_path': '/75ooojtgiKYm5LcCczbCexioZze.jpg',
  'original_language': 'en',
  'original_title': "American Pie Presents: Girls' Rules",
  'genre_ids': [35],
  'title': 'American Pie Presents: Girls Rules',
  'vote_average': 6.6,
  'overview': "It's Senior year at East Great Falls. Annie, Kayla, Michelle, and Stephanie decide to harness their girl power and band together to get what they want their last year of high school.",
  'release_date': '2020-10-06'},
 {'popularity': 834.795,
  'vote_count': 36,
  'video': False,
  'poster_path': '/5aL71e0XBgHZ6zdWcWeuEhwD2Gw.jpg',
  'id': 721656,
  'adult': False,
  'backdrop_path': '/5gTQmnGYKxDfmUWJ9GUWqrszRxN.jpg',
  'original_language': 'en',
  'original_title': 'Happy Halloween Scooby-Doo!',
  'genre_ids': [16, 35, 80, 9648, 10751],
  'title': 'Happy Halloween Scooby-Doo!',
  'vote_average': 7.7,
  'overview': 'Scooby-Doo and the gang team up with their pals, Bill Nye The Science Guy and Elvira Mistress of the Dark, to solve this mystery of gigantic proportions and save Crystal Cove!',
  'release_date': '2020-10-06'}]

In [80]:
netflix = networks
netflix

In [46]:
response = requests.get('https://api.themoviedb.org/3/discover/movie?api_key=52decf811777c96cdfe3148253cda2cc&primary_release_year=2017&sort_by=revenue.desc')

In [48]:
highest_revenue = response.json()

In [49]:
highest_revenue_films = highest_revenue['results']

In [53]:

# define column names for our new dataframe
columns = ['film', 'revenue']

# create dataframe with film and revenue columns
df = pd.DataFrame(columns=columns)

In [55]:
# for each of the highest revenue films make an api call for that specific movie to return the budget and revenue
for film in highest_revenue_films:
    # print(film['title'])
    film_revenue = requests.get('https://api.themoviedb.org/3/movie/'+ str(film['id']) +'?api_key=52decf811777c96cdfe3148253cda2cc&language=en-US')
    film_revenue = film_revenue.json()
    #print(locale.currency(film_revenue['revenue'], grouping=True ))
    df.loc[len(df)]=[film['title'],film_revenue['revenue']] # store title and revenue in our dataframe

In [56]:
df.head()

                             film     revenue
0        Star Wars: The Last Jedi  1332539889
1            Beauty and the Beast  1263521126
2         The Fate of the Furious  1238764765
3                 Despicable Me 3  1031552585
4  Jumanji: Welcome to the Jungle   962102237

In [57]:
len(df)

20

In [2]:
page = 1
url = 'https://api.themoviedb.org/3/movie/popular?api_key=' + apiKey + '&page=' + page + '&append_to_response=videos'

NameError: name 'apiKey' is not defined

In [98]:
#Discover API url filtered to movies >= 2004 and containing Drama genre_ID: 18
api_key='52decf811777c96cdfe3148253cda2cc&language=en-US&sort_by=popularity.desc&include_adult=false&include_video=false&primary_release_year=>%3D2004&with_genres=18'
discover_api_url = 'https://api.themoviedb.org/3/discover/movie?'+api_key

discover_api = requests.get(discover_api_url).json()
most_popular_films = discover_api['results']
# Loop through first 1000 pages (the limit)
for page in range(2, 1001):
    discover_api = requests.get(discover_api_url + f"&page={page}").json()
    most_popular_films.extend(discover_api['results'])

#printing movie_id and movie_title by popularity desc
for i, film in enumerate(most_popular_films):
    print(i, film['id'], film['title'])

KeyError: 'results'

In [18]:
import requests #to make TMDB API calls
import time

#Discover API url filtered to movies >= 2004 and containing Drama genre_ID: 18
api_key = 'api_key=52decf811777c96cdfe3148253cda2cc&language=en-US&sort_by=popularity.desc&include_adult=false&include_video=false&page='
discover_api_url = 'https://api.themoviedb.org/3/discover/movie?'+api_key

most_popular_films = []
new_results = True
page = 1
while new_results:
    discover_api = requests.get(discover_api_url + f"&page={page}".format(page)).json()
    new_results = discover_api.get("results", [])
    most_popular_films.extend(new_results)
    time.sleep(1) #Wait a second
    page += 1
    if page == 1000:
        break

#printing movie_id and movie_title by popularity desc
# for i, film in enumerate(most_popular_films):
#    print(i, film['id'], film['title'], film['vote_average'])

len(most_popular_films)

10000

In [26]:
full_df = pd.DataFrame(most_popular_films)
full_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   popularity         10000 non-null  float64
 1   vote_count         10000 non-null  int64
 2   video              10000 non-null  bool
 3   poster_path        9863 non-null   object
 4   id                 10000 non-null  int64
 5   adult              10000 non-null  bool
 6   backdrop_path      9398 non-null   object
 7   original_language  10000 non-null  object
 8   original_title     10000 non-null  object
 9   genre_ids          10000 non-null  object
 10  title              10000 non-null  object
 11  vote_average       10000 non-null  float64
 12  overview           10000 non-null  object
 13  release_date       9991 non-null   object
dtypes: bool(2), float64(2), int64(2), object(8)
memory usage: 957.2+ KB

In [29]:
full_df.to_csv('Movie_Analyasis_Data_Discover.csv', index=False)

In [31]:
check_df = pd.read_csv('Movie_Analyasis_Data_Discover.csv')
check_df.head()

,popularity,vote_count,video,poster_path,id,adult,backdrop_path,original_language,original_title,genre_ids,title,vote_average,overview,release_date
0,3739.463,133,False,/7D430eqZj8y3oVkLFfsWXGRcpEG.jpg,528085,False,/5UkzNSOK561c2QRy2Zr4AkADzLT.jpg,en,2067,"[18, 878, 53]",2067,5.9,A lowly utility worker is called to the future...,2020-10-01
1,2058.684,112,False,/elZ6JCzSEvFOq4gNjNeZsnRFsvj.jpg,741067,False,/aO5ILS7qnqtFIprbJ40zla0jhpu.jpg,en,Welcome to Sudden Death,"[28, 18, 53]",Welcome to Sudden Death,6.6,Jesse Freeman is a former special forces offic...,2020-09-29
2,1636.807,2108,False,/riYInlsq2kf1AWoGm80JQW5dLKp.jpg,497582,False,/kMe4TKMDNXTKptQPAdOF0oZHq3V.jpg,en,Enola Holmes,"[80, 18, 9648]",Enola Holmes,7.6,"While searching for her missing mother, intrep...",2020-09-23
3,1168.889,2524,False,/aKx1ARwG55zZ0GpRvU2WrGrCG9o.jpg,337401,False,/zzWGRw277MNoCs3zhyG3YmYQsXv.jpg,en,Mulan,"[28, 12, 18, 14]",Mulan,7.3,When the Emperor of China issues a decree that...,2020-09-04
4,1034.935,141,False,/ugZW8ocsrfgI95pnQ7wrmKDxIe.jpg,724989,False,/86L8wqGMDbwURPni2t7FQ0nDjsH.jpg,en,Hard Kill,"[28, 53]",Hard Kill,4.7,The work of billionaire tech CEO Donovan Chalm...,2020-08-25

In [16]:
#printing movie_id and movie_title by popularity desc
newish_dict = {}
for i, film in enumerate(most_popular_films):
   newish_dict = newish_dict.update([('index', i), ('id', film['id']), ('title', film['title'])])
#    print(i, film['id'], film['title'], film['vote_average'], film['vote_count'], film['genre_ids'])

AttributeError: 'NoneType' object has no attribute 'update'

In [11]:
newish_dict

(39, 330459, 'Rogue One: A Star Wars Story', 7.5, 11394, [28, 12, 878])

In [10]:
df_try = pd.DataFrame(newish_dict)
df_try.head()

                              0
0                            39
1                        330459
2  Rogue One: A Star Wars Story
3                           7.5
4                         11394

In [121]:
df = pd.DataFrame(most_popular_films)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   popularity         40 non-null     float64
 1   id                 40 non-null     int64
 2   video              40 non-null     bool
 3   vote_count         40 non-null     int64
 4   vote_average       40 non-null     float64
 5   title              40 non-null     object
 6   release_date       40 non-null     object
 7   original_language  40 non-null     object
 8   original_title     40 non-null     object
 9   genre_ids          40 non-null     object
 10  backdrop_path      39 non-null     object
 11  adult              40 non-null     bool
 12  overview           40 non-null     object
 13  poster_path        39 non-null     object
dtypes: bool(2), float64(2), int64(2), object(8)
memory usage: 4.0+ KB

In [122]:
df.head()

,popularity,id,video,vote_count,vote_average,title,release_date,original_language,original_title,genre_ids,backdrop_path,adult,overview,poster_path
0,2.787,751181,False,0,0.0,El Khetta El Aayma,2020-10-06,ar,الخطة العايمة,[35],/45gi04xjOxBu8s13aiqrXMrL4xw.jpg,False,As a man enlists the help of two people in ord...,/bQGF1J3A0riXwdwrCQBVQB5zYvY.jpg
1,0.000,755191,False,0,0.0,Russia!,1968-04-17,ru,Rossiya!,"[35, 18, 10402]",None,False,Astov Kasmir's strangest film a bizarre comedy...,None
2,266.935,299534,False,15340,8.3,Avengers: Endgame,2019-04-24,en,Avengers: Endgame,"[28, 12, 878]",/orjiB3oUIsyz60hoEqkiGpy5CeO.jpg,False,After the devastating events of Avengers: Infi...,/or06FN3Dka5tukK1e9sl16pB3iy.jpg
3,96.642,19995,False,22179,7.5,Avatar,2009-12-10,en,Avatar,"[28, 12, 14, 878]",/bIL7ENqh1egWTxN41sM2W42JqPc.jpg,False,"In the 22nd century, a paraplegic Marine is di...",/6EiRUJpuoeQPghrs3YNktfnqOVh.jpg
4,75.029,597,False,17863,7.9,Titanic,1997-11-18,en,Titanic,"[18, 10749]",/6VmFqApQRyZZzmiGOQq2C92jyvH.jpg,False,101-year-old Rose DeWitt Bukater tells the sto...,/9xjZS2rlVxm8SFx8kPC3aIGCOYQ.jpg

In [ ]:
movie_dict = {}

for item in newlist:
    movie_ids = tmdb.Movies(item['id']).info()
    movie_dict[movie['title']] = movie_ids['revenue']
    
    
new_df['Revenue'] = movie_ids['revenue']